__pycache__/
*.py[cod]
venv/
env/

# Training outputs - DON'T COMMIT THESE
checkpoints/
*.pth
*.pt
*.h5
*.ckpt
*.pkl
wandb/
logs/
videos/
*.mp4
Miniconda3-latest-Linux-x86_64.sh
# Data
*.npy
*.npz
.ipynb_checkpoints/
./idea